/* line 1, ../sass/styles.sass */
body {
  background-color: red;
}

/* line 5, ../sass/styles.sass */
.site-wrapper {
  background-color: blue;
  padding: 20px;
}

/* line 8, ../sass/styles.sass */
.site-container {
  background-color: white;
  padding: 20px;
}
